<main class="auth-container">
  <section class="auth-container__auth-card">
    <div class="auth-container__card-content">
      <div class="auth-container__auth-title">
        <h1>Create Account</h1>
        <p>Join us for the latest in sports, movies and events!</p>
      </div>

      <form class="auth-container__form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <input formControlName="username" type="text" pInputText placeholder="Username" />
        <p *ngIf="registerForm.get('username')?.touched && registerForm.get('username')?.invalid" class="error">
          <span *ngIf="registerForm.get('username')?.errors?.['required']">Username is required.</span>
          <span *ngIf="registerForm.get('username')?.errors?.['minlength']">Minimum 6 characters required.</span>
        </p>

        <input formControlName="email" type="text" pInputText placeholder="Email" />
        <p *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid" class="error">
          <span *ngIf="registerForm.get('email')?.errors?.['required']">Email is required.</span>
          <span *ngIf="registerForm.get('email')?.errors?.['email']">Invalid email format.</span>
        </p>

        <input formControlName="password" type="password" pInputText placeholder="Password" />
        <p *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.invalid" class="error">
          <span *ngIf="registerForm.get('password')?.errors?.['required']">Password is required.</span>
          <span *ngIf="registerForm.get('password')?.errors?.['minlength']">Minimum 6 characters required.</span>
        </p>

        <p-button label="Sign Up" type="submit" [disabled]="!registerForm.valid" [loading]="this.loading"/>
      </form>

      <hr />

      <div class="auth-container__social">
        <p-button label="Continue with Apple" type="button" />
        <p-button label="Continue with Google" type="button" />
        <p-button label="Continue with Facebook" type="button" />
      </div>

      <p class="auth-container__registered">Already registered? <a href="#">Log in</a></p>
    </div>
  </section>
</main>
