:host ::ng-deep .p-menubar {
  background-color: black;
}

::ng-deep .p-menubar-item-active .p-menubar-item-content {
  background-color: transparent !important;
  box-shadow: none !important;
}

::ng-deep .p-menubar-item:not(.disabled) > .p-menubar-item-content:hover {
  background-color: transparent !important;
  box-shadow: none !important;
}

::ng-deep .p-menubar-item.p-focus > .p-menubar-item-content {
  background-color: transparent !important;
  box-shadow: none !important;
}

:host ::ng-deep .custom-menubar {
  background-color: black;

  .custom-tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 16px;
    cursor: pointer;
    color: #666;
    font-weight: normal;
    position: relative;
    text-decoration: none;
    transition: all 0.3s ease;

    .underline {
      width: 100%;
      height: 3px;
      background-color: transparent;
      margin-top: 6px;
      border-radius: 2px;
      transition: background-color 0.3s ease;
    }

    &.active {
      color: #8b8bff;
      background-color: transparent;
      font-weight: bold;

      .underline {
        background-color: #8b8bff;
      }
    }

    &:hover {
      color: #aaa;
    }
  }
}

.navbar-actions {
  display: flex;
  gap: 16px;
}








