<div class="home-container">
  <main class="main-overview">
    <h1>Your Gateway to Sports & Cinema</h1>
    <p>Experience the thrill of live sports and blockbuster movies, all in one app.</p>
    <div class="main-buttons">
      <streambit-button
        [label]="'Join us now'"
        [severity]="'primary'"
        [size]="'large'"
        (onClick)="onJoinUsClick()"
      ></streambit-button>
      <streambit-button
        [label]="'Request demo'"
        [severity]="'secondary'"
        [size]="'large'"
        (onClick)="onRequestDemoClick()"
      ></streambit-button>
    </div>
  </main>
  <section class="content-container">
    <div class="content-section">
      <h3>Featured Sports</h3>
      <div class="card-item-container">
        <streambit-feature-card>

        </streambit-feature-card>
        <streambit-feature-card>

        </streambit-feature-card>
        <streambit-feature-card>

        </streambit-feature-card>
      </div>
    </div>
    <div class="content-section">
      <h3>Feature Movies</h3>
      <streambit-feature-card>

      </streambit-feature-card>
      <streambit-feature-card>

      </streambit-feature-card>
    </div>
  </section>
</div>
